{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-6 my-5">
            <div class="card">
                <h3 class="card-header">Личный кабинет пользователя</h3>
                <div class="card-body">
                    <p class="card-text"> <strong>Логин:</strong> {{ request.user.username }} </p>
                    <p class="card-text"> <strong>Имя:</strong> {{ request.user.first_name }}</p>
                    <p class="card-text"> <strong>Фамилия:</strong> {{ request.user.last_name }}</p>
                    <p class="card-text"> <strong>Почта:</strong> {{ request.user.email }}</p>
                    <a type="button" class="btn btn-dark" href={% url 'accounts:settings_edit' %}>Редактировать</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
