.form-control  {
    background-color: #ffffff;
    border-color: #C0C0C0;
}

.control-label {
    font-weight: bold;
}

h4 .card-header {
    background-color: #DCDCDC;
}

.card-img-top {
    flex: 0 0 auto;
}

.my-bg {
    background-color: #6c757d;
}