{% extends 'base.html' %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
    {% if object_list %}
        <ul>
            {% for post in object_list %}
                <div class="post">
                    <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <div class="date">
                    <p>Опубликовано: {{ post.published_date }}</p>
                    </div>
                </div>
            {% endfor %}
         </ul>
    {% else %}
        <p>Ничего не найдено</p>
    {% endif %}
{% endblock %}