{% extends 'base.html' %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
    <div class="row">
        <div class="col my-5">
            {% if object_list %}
                    {% for post in object_list %}
                        <div class="col-12 col-md-4 my-5">
                            <h5 class="card-title"><a href="{% url 'blog:post_detail' pk=post.pk %}#posts">{{ post.title }}</a></h5>
                            <p>{{ post.text|linebreaksbr }}</p>
                            <p class="card-text"><small class="text-muted">Опубликовано: {{ post.published_date }}</small></p>
                        </div>
                    {% endfor %}
            {% else %}
                <p>Ничего не найдено</p>
            {% endif %}
        </div>
    </div>
{% endblock %}