{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
    <div class="row">
        <div class="col col-md-8 col-lg-8 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title my-3"><strong>{{ post.title }}</strong></h5>
                    {% autoescape off %}<div class="card-text">{{ post.text|linebreaksbr }}</div>{% endautoescape %}
                    {% if post.img %}
                        <img class="card-img-top p-3" src="{{ post.img.url }}">
                    {% endif %}
                    {% if post.published_date %}
                        <p class="card-text">
                            <small class="text-muted">Опубликовано:{{ post.published_date }} Автор: {{ post.author_post }}</small>
                        </p>
                    {% endif %}
                    {% if request.user == post.author %}
                        <a class="btn btn-default float-right" href="{% url 'blog:post_delete' pk=post.pk %}#posts" title="Удалить"><i class="far fa-trash-alt"></i></a>
                        <a class="btn btn-default float-right" href="{% url 'blog:post_edit' pk=post.pk %}#posts" title="Редактировать"><i class="far fa-edit"></i></a>
                    {% endif %}
                </div>
            </div>
            {% for comment in post.comments.all %}
                <div class="card my-5">
                    <div class="card-body">
                        {% if request.user == comment.author_comment %}
                            <a class="btn btn-default float-right" href="{% url 'comment:commentsdelete' pk=comment.pk %}#posts" title="Удалить"><i class="far fa-trash-alt"></i></a>
                            <a class="btn btn-default float-right" href="{% url 'comment:commentsupdate' pk=comment.pk %}#posts" title="Редактировать"><i class="far fa-edit"></i></a>
                        {% endif %}
                        <p class="card-text">{{ comment.comment }}</p>
                        {% if post.published_date %}
                            <p class="card-text"><small class="text-muted">{{ comment.author_comment }} {{ comment.pub_date }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
             <form method="POST" class="my-5" action="{% url "comment:comments" pk=post.pk %}#posts">
                 {% csrf_token %}
                {{ form|as_bootstrap }}
                 <button type="submit" class="save btn btn-dark float-right mb-5">Отправить</button>
             </form>
        </div>
        <div class="col col-md-auto col-lg-4 my-5 float-right">
            <img src="{{ cat }}" alt="..." class="card-image-top" width="400px">
        </div>
    </div>
{% endblock %}