{% extends 'base.html' %}

{% block content %}
        {% for post in object_list %}
            <div class="card mb-3" style="max-width: 740px;">
              <div class="row no-gutters">
                <div class="col-md-8">
                  <div class="card-body">
                    <h5><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <p class="card-text"><small class="text-muted">Опубликовано: {{ post.published_date }}</small></p>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        {% include "pagination.html" %}
{% endblock %}
